.home {
  display: flex;
  color: #213f7d;

  .homeContainer {
    flex: 6;
    .user {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      margin: 40px 0px 0px 40px;
    }

    .widgets {
      margin-left: 20px;
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 40px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  .home {
    display: flex;
    color: #213f7d;

    .homeContainer {
      flex: 1;

      .user {
        margin: 30px 0px 0px 30px;
      }

      .widgets {
        width: 40%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
      }

      .listContainer {
        padding: 20px;
        margin: 30px 0px 0px 30px;
        width: 40%;

        .listTitle {
          margin-bottom: 15px;
          text-overflow: hidden;
        }
      }
    }
  }
}
