.user--page {
  display: flex;

  .user--Container {
    flex: 6;

    .link {
      margin: 40px 0px 0px 20px;
      .icon {
        padding-right: 5px;
        color: #213f7d;
        opacity: 0.4;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }

    .user--two--sided {
      display: flex;
      justify-content: space-between;
      margin-right: 40px;

      .user {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        margin: 30px 0px 0px 40px;
        color: #213f7d;
      }
      .buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 40px;
        
        .button--red {
          margin-right: 20px;
        }
      }
      
    }
  
  }
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  .user--page {
    display: flex;
 
  
    .user--Container {
      flex: 6;
      height:459vh ;
  
      .link {
        margin: 30px 0px 0px 20px;
        .icon {
          padding-right: 5px;
          color: #213f7d;
          opacity: 0.4;
        }
  
        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
      }
  
      .user--two--sided {
        display: flex;
        flex-direction: column;
        width:90%;
        justify-content: center;
        margin-right: 10px;
  
        .user {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          margin: 30px 0px 0px 40px;
          color: #213f7d;
        }
        .buttons {
          display: flex;
          justify-content: space-evenly;
          margin-top: 20px;
          margin-bottom: 40px;
          
          .button--red {
            margin-right: 10px;
          }
        }
        
      }
    
    }
  }
}
