.navbar {
  height: 100px;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  color: #213f7d;

  .top {
    align-items: center;
    justify-content: center;
    width: 15.5%;
    margin-left: 1.5%;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #213f7d;
      .union--img {
        width: 10%;
        height: 25px;
      }
      .logo--img {
        width: 50%;
        height: 36px;
        margin: -9px 4px;
      }
    }
  }

  .mobile_nav {
    display: none;
  }

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 30px;
        position: relative;

        .icon {
          font-size: 22px;
        }

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 100px;
    max-width: 100%;

    .mobile_nav {
      display: block;
      margin-right: 1em;
      font-size: 1.8em;
      cursor: pointer;
      color: #213f7d;
    }

    .wrapper {
      display: none;
    }
  }
}
